$backgroundColor : #FFFFFF;
$fontColor : #22234F;
$waitColor : #EAF0FF;
$buttonColor : #22234F;
$buttonColorHover : #FFFFFF;
$fontButtonColor : #FFFFFF;
$footerColor : #22234F;
$fontFooterColor: #FFFFFF;
$lineColor : #EF4D55;
$arrowColor : #EF4D55;
$iconColor : #EF4D55;
$boxShadow : #F8F8F8;

$regularFont : "Roboto", sans-serif;
$boldFont : 'Roboto Bold', sans-serif;
$sizeH1 : 30px;


$widthSpa33Logo : 120px;
$heightSpa33Logo : auto;