header{
    box-shadow: 0px 5px 11px 6px $boxShadow;
}


.linkColor {
    a {
        font-size: 18px;
        color: #22234F;
    }

    a.left {
        position: relative;
    }

    a.left:before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #EF4D55;
        visibility: hidden;
        transition: all 0.2s ;
      }

      a.left:hover:before {
        visibility: visible;
        width: 100%;
      }

    
}